{% macro periodic_table(elements_value, show_analyze_btn=True, default_visible=False) %}
{# 周期表组件：保持原有 DOM id/class 与 i18n，不改变交互脚本依赖 #}
<div class="periodic-table-wrapper {{ '' if default_visible else 'is-hidden' }}" id="periodicTableWrapper">
    <div class="elements-header">
        <div class="header-left">
            <span>{{ _('Periodic Table') }}</span>
            <button type="button" class="btn btn-sm btn--sm btn--secondary" id="clearElements">{{ _('Clear All') }}</button>
        </div>
        <div class="header-right">
            <small class="pt-tip">{{ _('Click elements to add to search') }}</small>
            <button type="button" class="btn btn-sm btn--sm btn--primary {{ '' if show_analyze_btn else 'is-hidden' }} mr-10" id="analyzeElements">{{ _('Analyze') }}</button>
            <span id="selectedElementsCount">{{ _('0 selected') }}</span>
        </div>
    </div>
    <div class="periodic-table-container">
        <div class="periodic-table" id="periodicTable">
            <!-- 第一行 -->
            <div class="element nonmetal" data-symbol="H">
                <span class="atomic-number">1</span>
                H
                <div class="tooltip">
                    <strong>Hydrogen (H)</strong><br>
                    {{ _('Atomic No:') }} 1<br>
                    {{ _('Mass:') }} 1.008<br>
                    {{ _('Electron:') }} 1s¹
                </div>
            </div>
            <div class="grid-span-16"></div>
            <div class="element noble" data-symbol="He">
                <span class="atomic-number">2</span>
                He
                <div class="tooltip">
                    <strong>Helium (He)</strong><br>
                    {{ _('Atomic No:') }} 2<br>
                    {{ _('Mass:') }} 4.0026<br>
                    {{ _('Electron:') }} 1s²
                </div>
            </div>

            <!-- 第二行 -->
            <div class="element alkali" data-symbol="Li">
                <span class="atomic-number">3</span>
                Li
                <div class="tooltip">
                    <strong>Lithium (Li)</strong><br>
                    {{ _('Atomic No:') }} 3<br>
                    {{ _('Mass:') }} 6.94<br>
                    {{ _('Electron:') }} [He] 2s¹
                </div>
            </div>
            <div class="element alkaline" data-symbol="Be">
                <span class="atomic-number">4</span>
                Be
                <div class="tooltip">
                    <strong>Beryllium (Be)</strong><br>
                    {{ _('Atomic No:') }} 4<br>
                    {{ _('Mass:') }} 9.0122<br>
                    {{ _('Electron:') }} [He] 2s²
                </div>
            </div>
            <div class="grid-span-10"></div>
            <div class="element metalloid" data-symbol="B">
                <span class="atomic-number">5</span>
                B
                <div class="tooltip">
                    <strong>Boron (B)</strong><br>
                    {{ _('Atomic No:') }} 5<br>
                    {{ _('Mass:') }} 10.81<br>
                    {{ _('Electron:') }} [He] 2s² 2p¹
                </div>
            </div>
            <div class="element nonmetal" data-symbol="C">
                <span class="atomic-number">6</span>
                C
                <div class="tooltip">
                    <strong>Carbon (C)</strong><br>
                    {{ _('Atomic No:') }} 6<br>
                    {{ _('Mass:') }} 12.011<br>
                    {{ _('Electron:') }} [He] 2s² 2p²
                </div>
            </div>
            <div class="element nonmetal" data-symbol="N">
                <span class="atomic-number">7</span>
                N
                <div class="tooltip">
                    <strong>Nitrogen (N)</strong><br>
                    {{ _('Atomic No:') }} 7<br>
                    {{ _('Mass:') }} 14.007<br>
                    {{ _('Electron:') }} [He] 2s² 2p³
                </div>
            </div>
            <div class="element nonmetal" data-symbol="O">
                <span class="atomic-number">8</span>
                O
                <div class="tooltip">
                    <strong>Oxygen (O)</strong><br>
                    {{ _('Atomic No:') }} 8<br>
                    {{ _('Mass:') }} 15.999<br>
                    {{ _('Electron:') }} [He] 2s² 2p⁴
                </div>
            </div>
            <div class="element halogen" data-symbol="F">
                F
                <div class="tooltip">
                    <strong>Fluorine (F)</strong><br>
                    {{ _('Atomic No:') }} 9<br>
                    {{ _('Mass:') }} 18.998<br>
                    {{ _('Electron:') }} [He] 2s² 2p⁵
                </div>
            </div>
            <div class="element noble" data-symbol="Ne">
                Ne
                <div class="tooltip">
                    <strong>Neon (Ne)</strong><br>
                    {{ _('Atomic No:') }} 10<br>
                    {{ _('Mass:') }} 20.180<br>
                    {{ _('Electron:') }} [He] 2s² 2p⁶
                </div>
            </div>

            <!-- 第三行 -->
            <div class="element alkali" data-symbol="Na">
                Na
                <div class="tooltip">
                    <strong>Sodium (Na)</strong><br>
                    {{ _('Atomic No:') }} 11<br>
                    {{ _('Mass:') }} 22.990<br>
                    {{ _('Electron:') }} [Ne] 3s¹
                </div>
            </div>
            <div class="element alkaline" data-symbol="Mg">
                Mg
                <div class="tooltip">
                    <strong>Magnesium (Mg)</strong><br>
                    {{ _('Atomic No:') }} 12<br>
                    {{ _('Mass:') }} 24.305<br>
                    {{ _('Electron:') }} [Ne] 3s²
                </div>
            </div>
            <div class="element-spacer grid-span-10"></div>
            <div class="element post-transition" data-symbol="Al">
                Al
                <div class="tooltip">
                    <strong>Aluminum (Al)</strong><br>
                    {{ _('Atomic No:') }} 13<br>
                    {{ _('Mass:') }} 26.982<br>
                    {{ _('Electron:') }} [Ne] 3s² 3p¹
                </div>
            </div>
            <div class="element metalloid" data-symbol="Si">
                Si
                <div class="tooltip">
                    <strong>Silicon (Si)</strong><br>
                    {{ _('Atomic No:') }} 14<br>
                    {{ _('Mass:') }} 28.085<br>
                    {{ _('Electron:') }} [Ne] 3s² 3p²
                </div>
            </div>
            <div class="element nonmetal" data-symbol="P">
                P
                <div class="tooltip">
                    <strong>Phosphorus (P)</strong><br>
                    {{ _('Atomic No:') }} 15<br>
                    {{ _('Mass:') }} 30.974<br>
                    {{ _('Electron:') }} [Ne] 3s² 3p³
                </div>
            </div>
            <div class="element nonmetal" data-symbol="S">
                S
                <div class="tooltip">
                    <strong>Sulfur (S)</strong><br>
                    {{ _('Atomic No:') }} 16<br>
                    {{ _('Mass:') }} 32.06<br>
                    {{ _('Electron:') }} [Ne] 3s² 3p⁴
                </div>
            </div>
            <div class="element halogen" data-symbol="Cl">
                Cl
                <div class="tooltip">
                    <strong>Chlorine (Cl)</strong><br>
                    {{ _('Atomic No:') }} 17<br>
                    {{ _('Mass:') }} 35.45<br>
                    {{ _('Electron:') }} [Ne] 3s² 3p⁵
                </div>
            </div>
            <div class="element noble" data-symbol="Ar">
                Ar
                <div class="tooltip">
                    <strong>Argon (Ar)</strong><br>
                    {{ _('Atomic No:') }} 18<br>
                    {{ _('Mass:') }} 39.948<br>
                    {{ _('Electron:') }} [Ne] 3s² 3p⁶
                </div>
            </div>

            <!-- 第四行 -->
            <div class="element alkali" data-symbol="K">
                K
                <div class="tooltip">
                    <strong>Potassium (K)</strong><br>
                    {{ _('Atomic No:') }} 19<br>
                    {{ _('Mass:') }} 39.098<br>
                    {{ _('Electron:') }} [Ar] 4s¹
                </div>
            </div>
            <div class="element alkaline" data-symbol="Ca">
                Ca
                <div class="tooltip">
                    <strong>Calcium (Ca)</strong><br>
                    {{ _('Atomic No:') }} 20<br>
                    {{ _('Mass:') }} 40.078<br>
                    {{ _('Electron:') }} [Ar] 4s²
                </div>
            </div>
            <div class="element transition" data-symbol="Sc">
                Sc
                <div class="tooltip">
                    <strong>Scandium (Sc)</strong><br>
                    {{ _('Atomic No:') }} 21<br>
                    {{ _('Mass:') }} 44.956<br>
                    {{ _('Electron:') }} [Ar] 3d¹ 4s²
                </div>
            </div>
            <div class="element transition" data-symbol="Ti">
                Ti
                <div class="tooltip">
                    <strong>Titanium (Ti)</strong><br>
                    {{ _('Atomic No:') }} 22<br>
                    {{ _('Mass:') }} 47.867<br>
                    {{ _('Electron:') }} [Ar] 3d² 4s²
                </div>
            </div>
            <div class="element transition" data-symbol="V">
                V
                <div class="tooltip">
                    <strong>Vanadium (V)</strong><br>
                    {{ _('Atomic No:') }} 23<br>
                    {{ _('Mass:') }} 50.942<br>
                    {{ _('Electron:') }} [Ar] 3d³ 4s²
                </div>
            </div>
            <div class="element transition" data-symbol="Cr">
                Cr
                <div class="tooltip">
                    <strong>Chromium (Cr)</strong><br>
                    {{ _('Atomic No:') }} 24<br>
                    {{ _('Mass:') }} 51.996<br>
                    {{ _('Electron:') }} [Ar] 3d⁵ 4s¹
                </div>
            </div>
            <div class="element transition" data-symbol="Mn">
                Mn
                <div class="tooltip">
                    <strong>Manganese (Mn)</strong><br>
                    {{ _('Atomic No:') }} 25<br>
                    {{ _('Mass:') }} 54.938<br>
                    {{ _('Electron:') }} [Ar] 3d⁵ 4s²
                </div>
            </div>
            <div class="element transition" data-symbol="Fe">
                Fe
                <div class="tooltip">
                    <strong>Iron (Fe)</strong><br>
                    {{ _('Atomic No:') }} 26<br>
                    {{ _('Mass:') }} 55.845<br>
                    {{ _('Electron:') }} [Ar] 3d⁶ 4s²
                </div>
            </div>
            <div class="element transition" data-symbol="Co">
                Co
                <div class="tooltip">
                    <strong>Cobalt (Co)</strong><br>
                    {{ _('Atomic No:') }} 27<br>
                    {{ _('Mass:') }} 58.933<br>
                    {{ _('Electron:') }} [Ar] 3d⁷ 4s²
                </div>
            </div>
            <div class="element transition" data-symbol="Ni">
                Ni
                <div class="tooltip">
                    <strong>Nickel (Ni)</strong><br>
                    {{ _('Atomic No:') }} 28<br>
                    {{ _('Mass:') }} 58.693<br>
                    {{ _('Electron:') }} [Ar] 3d⁸ 4s²
                </div>
            </div>
            <div class="element transition" data-symbol="Cu">
                Cu
                <div class="tooltip">
                    <strong>Copper (Cu)</strong><br>
                    {{ _('Atomic No:') }} 29<br>
                    {{ _('Mass:') }} 63.546<br>
                    {{ _('Electron:') }} [Ar] 3d¹⁰ 4s¹
                </div>
            </div>
            <div class="element transition" data-symbol="Zn">
                Zn
                <div class="tooltip">
                    <strong>Zinc (Zn)</strong><br>
                    {{ _('Atomic No:') }} 30<br>
                    {{ _('Mass:') }} 65.38<br>
                    {{ _('Electron:') }} [Ar] 3d¹⁰ 4s²
                </div>
            </div>
            <div class="element post-transition" data-symbol="Ga">
                Ga
                <div class="tooltip">
                    <strong>Gallium (Ga)</strong><br>
                    {{ _('Atomic No:') }} 31<br>
                    {{ _('Mass:') }} 69.723<br>
                    {{ _('Electron:') }} [Ar] 3d¹⁰ 4s² 4p¹
                </div>
            </div>
            <div class="element metalloid" data-symbol="Ge">
                Ge
                <div class="tooltip">
                    <strong>Germanium (Ge)</strong><br>
                    {{ _('Atomic No:') }} 32<br>
                    {{ _('Mass:') }} 72.64<br>
                    {{ _('Electron:') }} [Ar] 3d¹⁰ 4s² 4p²
                </div>
            </div>
            <div class="element metalloid" data-symbol="As">
                As
                <div class="tooltip">
                    <strong>Arsenic (As)</strong><br>
                    {{ _('Atomic No:') }} 33<br>
                    {{ _('Mass:') }} 74.922<br>
                    {{ _('Electron:') }} [Ar] 3d¹⁰ 4s² 4p³
                </div>
            </div>
            <div class="element nonmetal" data-symbol="Se">
                Se
                <div class="tooltip">
                    <strong>Selenium (Se)</strong><br>
                    {{ _('Atomic No:') }} 34<br>
                    {{ _('Mass:') }} 78.96<br>
                    {{ _('Electron:') }} [Ar] 3d¹⁰ 4s² 4p⁴
                </div>
            </div>
            <div class="element halogen" data-symbol="Br">
                Br
                <div class="tooltip">
                    <strong>Bromine (Br)</strong><br>
                    {{ _('Atomic No:') }} 35<br>
                    {{ _('Mass:') }} 79.904<br>
                    {{ _('Electron:') }} [Ar] 3d¹⁰ 4s² 4p⁵
                </div>
            </div>
            <div class="element noble" data-symbol="Kr">
                Kr
                <div class="tooltip">
                    <strong>Krypton (Kr)</strong><br>
                    {{ _('Atomic No:') }} 36<br>
                    {{ _('Mass:') }} 83.798<br>
                    {{ _('Electron:') }} [Ar] 3d¹⁰ 4s² 4p⁶
                </div>
            </div>

            <!-- 第五行 -->
            <div class="element alkali" data-symbol="Rb">
                Rb
                <div class="tooltip">
                    <strong>Rubidium (Rb)</strong><br>
                    {{ _('Atomic No:') }} 37<br>
                    {{ _('Mass:') }} 85.468<br>
                    {{ _('Electron:') }} [Kr] 5s¹
                </div>
            </div>
            <div class="element alkaline" data-symbol="Sr">
                Sr
                <div class="tooltip">
                    <strong>Strontium (Sr)</strong><br>
                    {{ _('Atomic No:') }} 38<br>
                    {{ _('Mass:') }} 87.62<br>
                    {{ _('Electron:') }} [Kr] 5s²
                </div>
            </div>
            <div class="element transition" data-symbol="Y">
                Y
                <div class="tooltip">
                    <strong>Yttrium (Y)</strong><br>
                    {{ _('Atomic No:') }} 39<br>
                    {{ _('Mass:') }} 88.906<br>
                    {{ _('Electron:') }} [Kr] 4d¹ 5s²
                </div>
            </div>
            <div class="element transition" data-symbol="Zr">
                Zr
                <div class="tooltip">
                    <strong>Zirconium (Zr)</strong><br>
                    {{ _('Atomic No:') }} 40<br>
                    {{ _('Mass:') }} 91.224<br>
                    {{ _('Electron:') }} [Kr] 4d² 5s²
                </div>
            </div>
            <div class="element transition" data-symbol="Nb">
                Nb
                <div class="tooltip">
                    <strong>Niobium (Nb)</strong><br>
                    {{ _('Atomic No:') }} 41<br>
                    {{ _('Mass:') }} 92.906<br>
                    {{ _('Electron:') }} [Kr] 4d⁴ 5s¹
                </div>
            </div>
            <div class="element transition" data-symbol="Mo">
                Mo
                <div class="tooltip">
                    <strong>Molybdenum (Mo)</strong><br>
                    {{ _('Atomic No:') }} 42<br>
                    {{ _('Mass:') }} 95.94<br>
                    {{ _('Electron:') }} [Kr] 4d⁵ 5s¹
                </div>
            </div>
            <div class="element transition" data-symbol="Tc">
                Tc
                <div class="tooltip">
                    <strong>Technetium (Tc)</strong><br>
                    {{ _('Atomic No:') }} 43<br>
                    {{ _('Mass:') }} 98<br>
                    {{ _('Electron:') }} [Kr] 4d⁵ 5s²
                </div>
            </div>
            <div class="element transition" data-symbol="Ru">
                Ru
                <div class="tooltip">
                    <strong>Ruthenium (Ru)</strong><br>
                    {{ _('Atomic No:') }} 44<br>
                    {{ _('Mass:') }} 101.07<br>
                    {{ _('Electron:') }} [Kr] 4d⁷ 5s¹
                </div>
            </div>
            <div class="element transition" data-symbol="Rh">
                Rh
                <div class="tooltip">
                    <strong>Rhodium (Rh)</strong><br>
                    {{ _('Atomic No:') }} 45<br>
                    {{ _('Mass:') }} 102.91<br>
                    {{ _('Electron:') }} [Kr] 4d⁸ 5s¹
                </div>
            </div>
            <div class="element transition" data-symbol="Pd">
                Pd
                <div class="tooltip">
                    <strong>Palladium (Pd)</strong><br>
                    {{ _('Atomic No:') }} 46<br>
                    {{ _('Mass:') }} 106.42<br>
                    {{ _('Electron:') }} [Kr] 4d¹⁰
                </div>
            </div>
            <div class="element transition" data-symbol="Ag">
                Ag
                <div class="tooltip">
                    <strong>Silver (Ag)</strong><br>
                    {{ _('Atomic No:') }} 47<br>
                    {{ _('Mass:') }} 107.87<br>
                    {{ _('Electron:') }} [Kr] 4d¹⁰ 5s¹
                </div>
            </div>
            <div class="element transition" data-symbol="Cd">
                Cd
                <div class="tooltip">
                    <strong>Cadmium (Cd)</strong><br>
                    {{ _('Atomic No:') }} 48<br>
                    {{ _('Mass:') }} 112.41<br>
                    {{ _('Electron:') }} [Kr] 4d¹⁰ 5s²
                </div>
            </div>
            <div class="element post-transition" data-symbol="In">
                In
                <div class="tooltip">
                    <strong>Indium (In)</strong><br>
                    {{ _('Atomic No:') }} 49<br>
                    {{ _('Mass:') }} 114.82<br>
                    {{ _('Electron:') }} [Kr] 4d¹⁰ 5s² 5p¹
                </div>
            </div>
            <div class="element post-transition" data-symbol="Sn">
                Sn
                <div class="tooltip">
                    <strong>Tin (Sn)</strong><br>
                    {{ _('Atomic No:') }} 50<br>
                    {{ _('Mass:') }} 118.71<br>
                    {{ _('Electron:') }} [Kr] 4d¹⁰ 5s² 5p²
                </div>
            </div>
            <div class="element metalloid" data-symbol="Sb">
                Sb
                <div class="tooltip">
                    <strong>Antimony (Sb)</strong><br>
                    {{ _('Atomic No:') }} 51<br>
                    {{ _('Mass:') }} 121.76<br>
                    {{ _('Electron:') }} [Kr] 4d¹⁰ 5s² 5p³
                </div>
            </div>
            <div class="element nonmetal" data-symbol="Te">
                Te
                <div class="tooltip">
                    <strong>Tellurium (Te)</strong><br>
                    {{ _('Atomic No:') }} 52<br>
                    {{ _('Mass:') }} 127.6<br>
                    {{ _('Electron:') }} [Kr] 4d¹⁰ 5s² 5p⁴
                </div>
            </div>
            <div class="element halogen" data-symbol="I">
                I
                <div class="tooltip">
                    <strong>Iodine (I)</strong><br>
                    {{ _('Atomic No:') }} 53<br>
                    {{ _('Mass:') }} 126.9<br>
                    {{ _('Electron:') }} [Kr] 4d¹⁰ 5s² 5p⁵
                </div>
            </div>
            <div class="element noble" data-symbol="Xe">
                Xe
                <div class="tooltip">
                    <strong>Xenon (Xe)</strong><br>
                    {{ _('Atomic No:') }} 54<br>
                    {{ _('Mass:') }} 131.29<br>
                    {{ _('Electron:') }} [Kr] 4d¹⁰ 5s² 5p⁶
                </div>
            </div>

            <!-- 第六行 -->
            <div class="element alkali" data-symbol="Cs">
                Cs
                <div class="tooltip">
                    <strong>Cesium (Cs)</strong><br>
                    {{ _('Atomic No:') }} 55<br>
                    {{ _('Mass:') }} 132.91<br>
                    {{ _('Electron:') }} [Xe] 6s¹
                </div>
            </div>
            <div class="element alkaline" data-symbol="Ba">
                Ba
                <div class="tooltip">
                    <strong>Barium (Ba)</strong><br>
                    {{ _('Atomic No:') }} 56<br>
                    {{ _('Mass:') }} 137.33<br>
                    {{ _('Electron:') }} [Xe] 6s²
                </div>
            </div>
            <div class="element lanthanoid" data-symbol="La">
                La
                <div class="tooltip">
                    <strong>Lanthanum (La)</strong><br>
                    {{ _('Atomic No:') }} 57<br>
                    {{ _('Mass:') }} 138.91<br>
                    {{ _('Electron:') }} [Xe] 5d¹ 6s²
                </div>
            </div>
            <div class="element transition" data-symbol="Hf">
                Hf
                <div class="tooltip">
                    <strong>Hafnium (Hf)</strong><br>
                    {{ _('Atomic No:') }} 72<br>
                    {{ _('Mass:') }} 178.49<br>
                    {{ _('Electron:') }} [Xe] 4f¹⁴ 5d² 6s²
                </div>
            </div>
            <div class="element transition" data-symbol="Ta">
                Ta
                <div class="tooltip">
                    <strong>Tantalum (Ta)</strong><br>
                    {{ _('Atomic No:') }} 73<br>
                    {{ _('Mass:') }} 180.95<br>
                    {{ _('Electron:') }} [Xe] 4f¹⁴ 5d³ 6s²
                </div>
            </div>
            <div class="element transition" data-symbol="W">
                W
                <div class="tooltip">
                    <strong>Tungsten (W)</strong><br>
                    {{ _('Atomic No:') }} 74<br>
                    {{ _('Mass:') }} 183.84<br>
                    {{ _('Electron:') }} [Xe] 4f¹⁴ 5d⁴ 6s²
                </div>
            </div>
            <div class="element transition" data-symbol="Re">
                Re
                <div class="tooltip">
                    <strong>Rhenium (Re)</strong><br>
                    {{ _('Atomic No:') }} 75<br>
                    {{ _('Mass:') }} 186.21<br>
                    {{ _('Electron:') }} [Xe] 4f¹⁴ 5d⁵ 6s²
                </div>
            </div>
            <div class="element transition" data-symbol="Os">
                Os
                <div class="tooltip">
                    <strong>Osmium (Os)</strong><br>
                    {{ _('Atomic No:') }} 76<br>
                    {{ _('Mass:') }} 190.23<br>
                    {{ _('Electron:') }} [Xe] 4f¹⁴ 5d⁶ 6s²
                </div>
            </div>
            <div class="element transition" data-symbol="Ir">
                Ir
                <div class="tooltip">
                    <strong>Iridium (Ir)</strong><br>
                    {{ _('Atomic No:') }} 77<br>
                    {{ _('Mass:') }} 192.22<br>
                    {{ _('Electron:') }} [Xe] 4f¹⁴ 5d⁷ 6s²
                </div>
            </div>
            <div class="element transition" data-symbol="Pt">
                Pt
                <div class="tooltip">
                    <strong>Platinum (Pt)</strong><br>
                    {{ _('Atomic No:') }} 78<br>
                    {{ _('Mass:') }} 195.08<br>
                    {{ _('Electron:') }} [Xe] 4f¹⁴ 5d⁹ 6s¹
                </div>
            </div>
            <div class="element transition" data-symbol="Au">
                Au
                <div class="tooltip">
                    <strong>Gold (Au)</strong><br>
                    {{ _('Atomic No:') }} 79<br>
                    {{ _('Mass:') }} 196.97<br>
                    {{ _('Electron:') }} [Xe] 4f¹⁴ 5d¹⁰ 6s¹
                </div>
            </div>
            <div class="element transition" data-symbol="Hg">
                Hg
                <div class="tooltip">
                    <strong>Mercury (Hg)</strong><br>
                    {{ _('Atomic No:') }} 80<br>
                    {{ _('Mass:') }} 200.59<br>
                    {{ _('Electron:') }} [Xe] 4f¹⁴ 5d¹⁰ 6s²
                </div>
            </div>
            <div class="element post-transition" data-symbol="Tl">
                Tl
                <div class="tooltip">
                    <strong>Thallium (Tl)</strong><br>
                    {{ _('Atomic No:') }} 81<br>
                    {{ _('Mass:') }} 204.38<br>
                    {{ _('Electron:') }} [Xe] 4f¹⁴ 5d¹⁰ 6s² 6p¹
                </div>
            </div>
            <div class="element post-transition" data-symbol="Pb">
                Pb
                <div class="tooltip">
                    <strong>Lead (Pb)</strong><br>
                    {{ _('Atomic No:') }} 82<br>
                    {{ _('Mass:') }} 207.2<br>
                    {{ _('Electron:') }} [Xe] 4f¹⁴ 5d¹⁰ 6s² 6p²
                </div>
            </div>
            <div class="element post-transition" data-symbol="Bi">
                Bi
                <div class="tooltip">
                    <strong>Bismuth (Bi)</strong><br>
                    {{ _('Atomic No:') }} 83<br>
                    {{ _('Mass:') }} 208.98<br>
                    {{ _('Electron:') }} [Xe] 4f¹⁴ 5d¹⁰ 6s² 6p³
                </div>
            </div>
            <div class="element metalloid" data-symbol="Po">
                Po
                <div class="tooltip">
                    <strong>Polonium (Po)</strong><br>
                    {{ _('Atomic No:') }} 84<br>
                    {{ _('Mass:') }} 209<br>
                    {{ _('Electron:') }} [Xe] 4f¹⁴ 5d¹⁰ 6s² 6p⁴
                </div>
            </div>
            <div class="element halogen" data-symbol="At">
                At
                <div class="tooltip">
                    <strong>Astatine (At)</strong><br>
                    {{ _('Atomic No:') }} 85<br>
                    {{ _('Mass:') }} 210<br>
                    {{ _('Electron:') }} [Xe] 4f¹⁴ 5d¹⁰ 6s² 6p⁵
                </div>
            </div>
            <div class="element noble" data-symbol="Rn">
                Rn
                <div class="tooltip">
                    <strong>Radon (Rn)</strong><br>
                    {{ _('Atomic No:') }} 86<br>
                    {{ _('Mass:') }} 222<br>
                    {{ _('Electron:') }} [Xe] 4f¹⁴ 5d¹⁰ 6s² 6p⁶
                </div>
            </div>

            <!-- 第七行 -->
            <div class="element alkali" data-symbol="Fr">
                Fr
                <div class="tooltip">
                    <strong>Francium (Fr)</strong><br>
                    {{ _('Atomic No:') }} 87<br>
                    {{ _('Mass:') }} 223<br>
                    {{ _('Electron:') }} [Rn] 7s¹
                </div>
            </div>
            <div class="element alkaline" data-symbol="Ra">
                Ra
                <div class="tooltip">
                    <strong>Radium (Ra)</strong><br>
                    {{ _('Atomic No:') }} 88<br>
                    {{ _('Mass:') }} 226<br>
                    {{ _('Electron:') }} [Rn] 7s²
                </div>
            </div>
            <div class="element actinoid" data-symbol="Ac">
                Ac
                <div class="tooltip">
                    <strong>Actinium (Ac)</strong><br>
                    {{ _('Atomic No:') }} 89<br>
                    {{ _('Mass:') }} 227<br>
                    {{ _('Electron:') }} [Rn] 6d¹ 7s²
                </div>
            </div>
            <div class="element transition" data-symbol="Rf">
                Rf
                <div class="tooltip">
                    <strong>Rutherfordium (Rf)</strong><br>
                    {{ _('Atomic No:') }} 104<br>
                    {{ _('Mass:') }} 267<br>
                    {{ _('Electron:') }} [Rn] 5f¹⁴ 6d² 7s²
                </div>
            </div>
            <div class="element transition" data-symbol="Db">
                Db
                <div class="tooltip">
                    <strong>Dubnium (Db)</strong><br>
                    {{ _('Atomic No:') }} 105<br>
                    {{ _('Mass:') }} 268<br>
                    {{ _('Electron:') }} [Rn] 5f¹⁴ 6d³ 7s²
                </div>
            </div>
            <div class="element transition" data-symbol="Sg">
                Sg
                <div class="tooltip">
                    <strong>Seaborgium (Sg)</strong><br>
                    {{ _('Atomic No:') }} 106<br>
                    {{ _('Mass:') }} 271<br>
                    {{ _('Electron:') }} [Rn] 5f¹⁴ 6d⁴ 7s²
                </div>
            </div>
            <div class="element transition" data-symbol="Bh">
                Bh
                <div class="tooltip">
                    <strong>Bohrium (Bh)</strong><br>
                    {{ _('Atomic No:') }} 107<br>
                    {{ _('Mass:') }} 272<br>
                    {{ _('Electron:') }} [Rn] 5f¹⁴ 6d⁵ 7s²
                </div>
            </div>
            <div class="element transition" data-symbol="Hs">
                Hs
                <div class="tooltip">
                    <strong>Hassium (Hs)</strong><br>
                    {{ _('Atomic No:') }} 108<br>
                    {{ _('Mass:') }} 270<br>
                    {{ _('Electron:') }} [Rn] 5f¹⁴ 6d⁶ 7s²
                </div>
            </div>
            <div class="element transition" data-symbol="Mt">
                Mt
                <div class="tooltip">
                    <strong>Meitnerium (Mt)</strong><br>
                    {{ _('Atomic No:') }} 109<br>
                    {{ _('Mass:') }} 278<br>
                    {{ _('Electron:') }} [Rn] 5f¹⁴ 6d⁷ 7s²
                </div>
            </div>
            <div class="element transition" data-symbol="Ds">
                Ds
                <div class="tooltip">
                    <strong>Darmstadtium (Ds)</strong><br>
                    {{ _('Atomic No:') }} 110<br>
                    {{ _('Mass:') }} 281<br>
                    {{ _('Electron:') }} [Rn] 5f¹⁴ 6d⁸ 7s²
                </div>
            </div>
            <div class="element transition" data-symbol="Rg">
                Rg
                <div class="tooltip">
                    <strong>Roentgenium (Rg)</strong><br>
                    {{ _('Atomic No:') }} 111<br>
                    {{ _('Mass:') }} 281<br>
                    {{ _('Electron:') }} [Rn] 5f¹⁴ 6d⁹ 7s²
                </div>
            </div>
            <div class="element transition" data-symbol="Cn">
                Cn
                <div class="tooltip">
                    <strong>Copernicium (Cn)</strong><br>
                    {{ _('Atomic No:') }} 112<br>
                    {{ _('Mass:') }} 285<br>
                    {{ _('Electron:') }} [Rn] 5f¹⁴ 6d¹⁰ 7s²
                </div>
            </div>
            <div class="element post-transition" data-symbol="Nh">
                Nh
                <div class="tooltip">
                    <strong>Nihonium (Nh)</strong><br>
                    {{ _('Atomic No:') }} 113<br>
                    {{ _('Mass:') }} 286<br>
                    {{ _('Electron:') }} [Rn] 5f¹⁴ 6d¹⁰ 7s² 7p¹
                </div>
            </div>
            <div class="element post-transition" data-symbol="Fl">
                Fl
                <div class="tooltip">
                    <strong>Flerovium (Fl)</strong><br>
                    {{ _('Atomic No:') }} 114<br>
                    {{ _('Mass:') }} 289<br>
                    {{ _('Electron:') }} [Rn] 5f¹⁴ 6d¹⁰ 7s² 7p²
                </div>
            </div>
            <div class="element post-transition" data-symbol="Mc">
                Mc
                <div class="tooltip">
                    <strong>Moscovium (Mc)</strong><br>
                    {{ _('Atomic No:') }} 115<br>
                    {{ _('Mass:') }} 289<br>
                    {{ _('Electron:') }} [Rn] 5f¹⁴ 6d¹⁰ 7s² 7p³
                </div>
            </div>
            <div class="element post-transition" data-symbol="Lv">
                Lv
                <div class="tooltip">
                    <strong>Livermorium (Lv)</strong><br>
                    {{ _('Atomic No:') }} 116<br>
                    {{ _('Mass:') }} 293<br>
                    {{ _('Electron:') }} [Rn] 5f¹⁴ 6d¹⁰ 7s² 7p⁴
                </div>
            </div>
            <div class="element halogen" data-symbol="Ts">
                Ts
                <div class="tooltip">
                    <strong>Tennessine (Ts)</strong><br>
                    {{ _('Atomic No:') }} 117<br>
                    {{ _('Mass:') }} 294<br>
                    {{ _('Electron:') }} [Rn] 5f¹⁴ 6d¹⁰ 7s² 7p⁵
                </div>
            </div>
            <div class="element noble" data-symbol="Og">
                Og
                <div class="tooltip">
                    <strong>Oganesson (Og)</strong><br>
                    {{ _('Atomic No:') }} 118<br>
                    {{ _('Mass:') }} 294<br>
                    {{ _('Electron:') }} [Rn] 5f¹⁴ 6d¹⁰ 7s² 7p⁶
                </div>
            </div>

            <!-- 镧系 -->
            <div class="grid-span-3"></div>
            <div class="element lanthanoid" data-symbol="Ce">
                Ce
                <div class="tooltip">
                    <strong>Cerium (Ce)</strong><br>
                    {{ _('Atomic No:') }} 58<br>
                    {{ _('Mass:') }} 140.12<br>
                    {{ _('Electron:') }} [Xe] 4f¹ 5d¹ 6s²
                </div>
            </div>
            <div class="element lanthanoid" data-symbol="Pr">
                Pr
                <div class="tooltip">
                    <strong>Praseodymium (Pr)</strong><br>
                    {{ _('Atomic No:') }} 59<br>
                    {{ _('Mass:') }} 140.91<br>
                    {{ _('Electron:') }} [Xe] 4f³ 6s²
                </div>
            </div>
            <div class="element lanthanoid" data-symbol="Nd">
                Nd
                <div class="tooltip">
                    <strong>Neodymium (Nd)</strong><br>
                    {{ _('Atomic No:') }} 60<br>
                    {{ _('Mass:') }} 144.24<br>
                    {{ _('Electron:') }} [Xe] 4f⁴ 6s²
                </div>
            </div>
            <div class="element lanthanoid" data-symbol="Pm">
                Pm
                <div class="tooltip">
                    <strong>Promethium (Pm)</strong><br>
                    {{ _('Atomic No:') }} 61<br>
                    {{ _('Mass:') }} 145<br>
                    {{ _('Electron:') }} [Xe] 4f⁵ 6s²
                </div>
            </div>
            <div class="element lanthanoid" data-symbol="Sm">
                Sm
                <div class="tooltip">
                    <strong>Samarium (Sm)</strong><br>
                    {{ _('Atomic No:') }} 62<br>
                    {{ _('Mass:') }} 150.36<br>
                    {{ _('Electron:') }} [Xe] 4f⁶ 6s²
                </div>
            </div>
            <div class="element lanthanoid" data-symbol="Eu">
                Eu
                <div class="tooltip">
                    <strong>Europium (Eu)</strong><br>
                    {{ _('Atomic No:') }} 63<br>
                    {{ _('Mass:') }} 151.96<br>
                    {{ _('Electron:') }} [Xe] 4f⁷ 6s²
                </div>
            </div>
            <div class="element lanthanoid" data-symbol="Gd">
                Gd
                <div class="tooltip">
                    <strong>Gadolinium (Gd)</strong><br>
                    {{ _('Atomic No:') }} 64<br>
                    {{ _('Mass:') }} 157.25<br>
                    {{ _('Electron:') }} [Xe] 4f⁷ 5d¹ 6s²
                </div>
            </div>
            <div class="element lanthanoid" data-symbol="Tb">
                Tb
                <div class="tooltip">
                    <strong>Terbium (Tb)</strong><br>
                    {{ _('Atomic No:') }} 65<br>
                    {{ _('Mass:') }} 158.93<br>
                    {{ _('Electron:') }} [Xe] 4f⁹ 5d¹ 6s²
                </div>
            </div>
            <div class="element lanthanoid" data-symbol="Dy">
                Dy
                <div class="tooltip">
                    <strong>Dysprosium (Dy)</strong><br>
                    {{ _('Atomic No:') }} 66<br>
                    {{ _('Mass:') }} 162.50<br>
                    {{ _('Electron:') }} [Xe] 4f¹⁰ 5d¹ 6s²
                </div>
            </div>
            <div class="element lanthanoid" data-symbol="Ho">
                Ho
                <div class="tooltip">
                    <strong>Holmium (Ho)</strong><br>
                    {{ _('Atomic No:') }} 67<br>
                    {{ _('Mass:') }} 164.93<br>
                    {{ _('Electron:') }} [Xe] 4f¹¹ 5d¹ 6s²
                </div>
            </div>
            <div class="element lanthanoid" data-symbol="Er">
                Er
                <div class="tooltip">
                    <strong>Erbium (Er)</strong><br>
                    {{ _('Atomic No:') }} 68<br>
                    {{ _('Mass:') }} 167.26<br>
                    {{ _('Electron:') }} [Xe] 4f¹² 5d¹ 6s²
                </div>
            </div>
            <div class="element lanthanoid" data-symbol="Tm">
                Tm
                <div class="tooltip">
                    <strong>Thulium (Tm)</strong><br>
                    {{ _('Atomic No:') }} 69<br>
                    {{ _('Mass:') }} 168.93<br>
                    {{ _('Electron:') }} [Xe] 4f¹³ 5d¹ 6s²
                </div>
            </div>
            <div class="element lanthanoid" data-symbol="Yb">
                Yb
                <div class="tooltip">
                    <strong>Ytterbium (Yb)</strong><br>
                    {{ _('Atomic No:') }} 70<br>
                    {{ _('Mass:') }} 173.04<br>
                    {{ _('Electron:') }} [Xe] 4f¹⁴ 5d¹ 6s²
                </div>
            </div>
            <div class="element lanthanoid" data-symbol="Lu">
                Lu
                <div class="tooltip">
                    <strong>Lutetium (Lu)</strong><br>
                    {{ _('Atomic No:') }} 71<br>
                    {{ _('Mass:') }} 174.97<br>
                    {{ _('Electron:') }} [Xe] 4f¹⁴ 5d¹ 6s²
                </div>
            </div>

            <!-- 锕系 -->
            <div class="grid-span-3"></div>
            <div class="element actinoid" data-symbol="Th">
                Th
                <div class="tooltip">
                    <strong>Thorium (Th)</strong><br>
                    {{ _('Atomic No:') }} 90<br>
                    {{ _('Mass:') }} 232.04<br>
                    {{ _('Electron:') }} [Rn] 6d² 7s²
                </div>
            </div>
            <div class="element actinoid" data-symbol="Pa">
                Pa
                <div class="tooltip">
                    <strong>Protactinium (Pa)</strong><br>
                    {{ _('Atomic No:') }} 91<br>
                    {{ _('Mass:') }} 231.04<br>
                    {{ _('Electron:') }} [Rn] 5f² 6d¹ 7s²
                </div>
            </div>
            <div class="element actinoid" data-symbol="U">
                U
                <div class="tooltip">
                    <strong>Uranium (U)</strong><br>
                    {{ _('Atomic No:') }} 92<br>
                    {{ _('Mass:') }} 238.03<br>
                    {{ _('Electron:') }} [Rn] 5f³ 6d¹ 7s²
                </div>
            </div>
            <div class="element actinoid" data-symbol="Np">
                Np
                <div class="tooltip">
                    <strong>Neptunium (Np)</strong><br>
                    {{ _('Atomic No:') }} 93<br>
                    {{ _('Mass:') }} 237<br>
                    {{ _('Electron:') }} [Rn] 5f⁴ 6d¹ 7s²
                </div>
            </div>
            <div class="element actinoid" data-symbol="Pu">
                Pu
                <div class="tooltip">
                    <strong>Plutonium (Pu)</strong><br>
                    {{ _('Atomic No:') }} 94<br>
                    {{ _('Mass:') }} 244<br>
                    {{ _('Electron:') }} [Rn] 5f⁶ 6d² 7s²
                </div>
            </div>
            <div class="element actinoid" data-symbol="Am">
                Am
                <div class="tooltip">
                    <strong>Americium (Am)</strong><br>
                    {{ _('Atomic No:') }} 95<br>
                    {{ _('Mass:') }} 243<br>
                    {{ _('Electron:') }} [Rn] 5f⁷ 6d³ 7s²
                </div>
            </div>
            <div class="element actinoid" data-symbol="Cm">
                Cm
                <div class="tooltip">
                    <strong>Curium (Cm)</strong><br>
                    {{ _('Atomic No:') }} 96<br>
                    {{ _('Mass:') }} 247<br>
                    {{ _('Electron:') }} [Rn] 5f⁷ 6d⁴ 7s²
                </div>
            </div>
            <div class="element actinoid" data-symbol="Bk">
                Bk
                <div class="tooltip">
                    <strong>Berkelium (Bk)</strong><br>
                    {{ _('Atomic No:') }} 97<br>
                    {{ _('Mass:') }} 247<br>
                    {{ _('Electron:') }} [Rn] 5f⁸ 6d² 7s²
                </div>
            </div>
            <div class="element actinoid" data-symbol="Cf">
                Cf
                <div class="tooltip">
                    <strong>Californium (Cf)</strong><br>
                    {{ _('Atomic No:') }} 98<br>
                    {{ _('Mass:') }} 251<br>
                    {{ _('Electron:') }} [Rn] 5f¹⁰ 6d² 7s²
                </div>
            </div>
            <div class="element actinoid" data-symbol="Es">
                Es
                <div class="tooltip">
                    <strong>Einsteinium (Es)</strong><br>
                    {{ _('Atomic No:') }} 99<br>
                    {{ _('Mass:') }} 252<br>
                    {{ _('Electron:') }} [Rn] 5f¹² 6d² 7s²
                </div>
            </div>
            <div class="element actinoid" data-symbol="Fm">
                Fm
                <div class="tooltip">
                    <strong>Fermium (Fm)</strong><br>
                    {{ _('Atomic No:') }} 100<br>
                    {{ _('Mass:') }} 257<br>
                    {{ _('Electron:') }} [Rn] 5f¹⁴ 6d² 7s²
                </div>
            </div>
            <div class="element actinoid" data-symbol="Md">
                Md
                <div class="tooltip">
                    <strong>Mendelevium (Md)</strong><br>
                    {{ _('Atomic No:') }} 101<br>
                    {{ _('Mass:') }} 258<br>
                    {{ _('Electron:') }} [Rn] 5f¹⁶ 6d² 7s²
                </div>
            </div>
            <div class="element actinoid" data-symbol="No">
                No
                <div class="tooltip">
                    <strong>Nobelium (No)</strong><br>
                    {{ _('Atomic No:') }} 102<br>
                    {{ _('Mass:') }} 259<br>
                    {{ _('Electron:') }} [Rn] 5f¹⁸ 6d² 7s²
                </div>
            </div>
            <div class="element actinoid" data-symbol="Lr">
                Lr
                <div class="tooltip">
                    <strong>Lawrencium (Lr)</strong><br>
                    {{ _('Atomic No:') }} 103<br>
                    {{ _('Mass:') }} 262<br>
                    {{ _('Electron:') }} [Rn] 5f¹⁴ 6d² 7s²
                </div>
            </div>
        </div>
        
        <!-- 隐藏的元素输入字段 -->
        <input type="hidden" name="elements" id="selectedElements" value="{{ elements_value }}">
        
        <!-- 图例 -->
        <div class="element-legend">
            <div class="legend-item">
                <div class="legend-color alkali"></div>
                <span>{{ _('Alkali Metals') }}</span>
            </div>
            <div class="legend-item">
                <div class="legend-color alkaline"></div>
                <span>{{ _('Alkaline Earth Metals') }}</span>
            </div>
            <div class="legend-item">
                <div class="legend-color transition"></div>
                <span>{{ _('Transition Metals') }}</span>
            </div>
            <div class="legend-item">
                <div class="legend-color post-transition"></div>
                <span>{{ _('Post-transition Metals') }}</span>
            </div>
            <div class="legend-item">
                <div class="legend-color metalloid"></div>
                <span>{{ _('Metalloids') }}</span>
            </div>
            <div class="legend-item">
                <div class="legend-color nonmetal"></div>
                <span>{{ _('Nonmetals') }}</span>
            </div>
            <div class="legend-item">
                <div class="legend-color halogen"></div>
                <span>{{ _('Halogens') }}</span>
            </div>
            <div class="legend-item">
                <div class="legend-color noble"></div>
                <span>{{ _('Noble Gases') }}</span>
            </div>
            <div class="legend-item">
                <div class="legend-color lanthanoid"></div>
                <span>{{ _('Lanthanides') }}</span>
            </div>
            <div class="legend-item">
                <div class="legend-color actinoid"></div>
                <span>{{ _('Actinides') }}</span>
            </div>
        </div>
    </div>
</div>

<!-- [Deprecated 20250913] 周期表组件样式已迁移至 static/css/components/periodic_table.css -->

<!-- [Deprecated 20250913] 元素类型颜色样式已迁移至 static/css/components/periodic_table.css -->
{% endmacro %}
